  <div class="pagination"><%= will_paginate @type_definitions %></div>
  <h4>项目类型一览</h4>
  
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :id => 'close', :class => BUTTONS_CLS['action'] %>&nbsp;&nbsp;

