<div id="main_body">
<h1>Edit Type Definition Info</h1>
 
<%= render 'form', :locals => { :type_definition => @type_definition}  %>
 
<%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0" %>
</div>
  
 
