<div id="main_body">
	<h1>Type Definition</h1>
	<div class="pagination"><%= will_paginate @type_definitions %></div>
 
	<%= render 'form_list', :locals => { :type_definitions => @type_definitions} %>
 
</div>

