<div id="main_body">
<h1>New Type Definition</h1>

<%= render 'form_new', :locals => { :type_definition => @type_definition} %>

<%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0" %>
</div>