<div id="main_body">
	<h1>Task Definition</h1>
	<div class="pagination"><%= will_paginate @task_definitions %></div>
 
	<%= render :partial => 'form_list', :locals => { :task_definitions => @task_definitions} %>
 
</div>

