<div id="main_body">
<h1>New Task Definition</h1>

<%= render 'form_new', :locals => { :task_definition => @task_definition} %>

<%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0" %>
</div>