.git/
.idea/
.bundle/
log/*.log
/tmp
/db/*.sqllite3
/db/schema.*
*.swp
*~
.project
.DS_Store
.idea/
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache


