<div id="main_body">
<h1>Edit Status Definition Info</h1>
 
<%= render 'form', :locals => { :status_definition => @status_definition} %>
 
<%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0" %>
</div>
  
 
