<div id="main_body">
<h1>New Status Definition</h1>

<%= render 'form_new', :locals => { :status_definition => @status_definition} %>

<%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0" %>
</div>