<div id="tabs">
<div id="user">
	<table width="90%">
		<tr>
			<td width="40%" valign="top">
				<ul>
					<li><%= link_to 'Project Status', SUBURI + "/authentify/view_handler?index=1&url=#{projectx.project_statuses_path}" %></li>
					<li><%= link_to 'Project Type', SUBURI + "/authentify/view_handler?index=1&url=#{projectx.project_types_path}" %></li>
					<li><%= link_to 'User', SUBURI + "/authentify/view_handler?index=1&url=#{authentify.users_path}" %></li>

				</ul>
				</td>
				<td width="20">&nbsp;</td>
				<td valign="top">
				<ul>

				</ul>
			</td>
		</tr>
	</table>	
</div>
</div>
