<div id="main_body">
<h4><%= t(@title) %></h4>

<%= render partial: 'form_list', locals: {models: @contracts} %>

<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action'] %>

</div>

