<div id="main_body">
	<h1>Search For Type Definition</h1>
	<div class="pagination"><%= will_paginate @status_definitions %></div>
 
	<%= render 'form_list', :locals => { :status_definitions => @status_definitions} %>
</div>

